*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.otario{
    position: absolute;
    display: none;
    height: 100px;
    width: 100px;
    animation: ani 10s;
    animation-iteration-count: infinite;
}

@keyframes ani {
    0%{top: 0px; left: 0px;}
    25%{top: 0px; left: 1300px;}
    50%{top: 500px; left: 0px;}
    100%{top: 700px; left: 1300px;}
}